.or-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 24px;
}

.or-container::before,
.or-container::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #112211;
  opacity: 0.25;
}

.or-container::before {
  margin-right: 8px;
}

.or-container::after {
  margin-left: 8px;
}

.social-buttons {
  display: flex;
  gap: 16px;
}

.social-buttons button {
  padding: 16px 24px;
  width: 160px;
  height: 56px;
  border: 1px solid #8dd3bb;
  border-radius: 4px;
  background: none;
}

.social-buttons button img {
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 1199.98px) {
  .social-buttons button {
    width: 100%;
  }
}
