.filters-card-container {
  display: block;
  border-radius: 12px;
  width: 100%;

}

.accommodation-list {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: #8dd3bb 0 0 10px;
  border-radius: 12px;
  margin-bottom: 32px;
}

.section-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-places-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 32px;
}

.card-container {
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  border-radius: 0 12px 12px 0;
  filter: drop-shadow(0px 4px 16px rgba(17, 34, 17, 0.05));
  background-color: #fff;
}

.card-photo img {
  width: 300px;
  height: 100%;
  border-radius: 12px 0 0 12px;
}

.card-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 24px;
}

.card-title-price-container {
  display: flex;
  justify-content: space-between;
}

br {
  height: 1px;
  content: "";
  background: #112211;
  opacity: 0.25;
  margin-top: 24px;
}

.card-title {
  width: 350px;
}

.card-price {
  width: 110px;
}

.card-price-amount {
  font-size: 24px;
  color: #ff8682;
}

.card-price-unit {
  color: #ff8682;
}

.card-address {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 70%;
}

.card-rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-rating-value {
  padding: 8px 26px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8dd3bb;
  border-radius: 4px;
}

.card-rating-label > span {
  font-weight: 700;
}

.card-buttons {
  display: flex;
  gap: 16px;
}

.card-button-icon {
  background: none;
  border: 1px solid #8dd3bb;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.card-button-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 428px;
  height: 48px;
  background: #8dd3bb;
  border-radius: 4px;
  border: none;
}

@media only screen and (max-width: 767.98px) {
  .filters-card-container {
    width: 100%;
  }
  .card-container {
    height: 700px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .card-photo img {
    border-radius: 12px 12px 0 0;
    max-height: 300px;
  }
  .card-address {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }
  .card-address p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
  .card-title-price-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1399px) {
  .filters-card-container {
    width: 92%;
  }
  .card-button-view {
    width: 328px;
  }
  .card-items-container {
    width: 60%;
  }

}
