<div class="search-bar-container">
    <div class="section-content" [ngClass]="{ 'invalid-form': formSubmitted && form.invalid }">
        <section class="section-title">
            <p>Find your stay!</p>
        </section>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <section class="inputs-container">
                <input type="text" placeholder="Enter Destination" formControlName="destination"
                    (keyup)="searchHotels($event)" (focus)="destinationInputFocused = true" value="" />
                <ul class="search-results" *ngIf="destinationInputFocused">
                    <li class="search-result-item" *ngFor="let hotel of filteredHotels"
                        (click)="selectDestination(hotel.address.country)">
                        {{ hotel.address.country }}
                    </li>
                </ul>
                <input type="date" placeholder="Check In" formControlName="checkIn" [min]="today" />
                <input type="date" placeholder="Check Out" formControlName="checkOut" [min]="today"
                    [ngClass]="{ error: checkOutControl?.invalid }" />
                <input type="text" id="rooms-guests-input" placeholder="Rooms & Guests" formControlName="roomsGuests"
                    (click)="openModal(content); updateRoomsGuests()" />
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Select Rooms and Guests</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let item of ['rooms', 'adults', 'children']">
                            <p>{{ item }}</p>
                            <section>
                                <button (click)="updateGuestsData(item, -1)">
                                    <img src="assets/icons/minus.svg" alt="minus_icon" />
                                </button>
                                <label>{{ guestsData[item] }}</label>
                                <button (click)="updateGuestsData(item, +1)">
                                    <img src="assets/icons/plus.svg" alt="plus_icon" />
                                </button>
                            </section>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">
                            Done
                        </button>
                    </div>
                </ng-template>
            </section>
            <section class="buttons-container">
                <button type="button" class="button-promo">+ Add Promo Code</button>
                <button type="submit" class="button-show-place">Show Places</button>
            </section>
        </form>
    </div>
</div>