<app-navbar class="active"></app-navbar>

<!-- Hotel Details -->

<div class="hotel-details-container">
    <div class="hotel-info-container">
        <div class="hotel-title">
            <h3 class="hotel-title-text">{{ hotel.name }}</h3>
        </div>
        <div class="address-container">
            <div>
                <img src="assets/icons/location.svg" alt="location-icon" />
            </div>
            <p>
                {{ hotel.address.streetAddress }}, {{ hotel.address.city }},
                {{ hotel.address.country }}
            </p>
        </div>
        <div class="hotel-title-and-rating">
            <div class="rating">
                <span>{{ hotel.rating }}</span>
            </div>
            <span>
                <strong>Very Good</strong>
                371 reviews
            </span>
        </div>
    </div>
    <div class="button-container">
        <div class="price-container">
            <strong>{{ hotel.nightlyPrice | currency }}</strong>/night
        </div>
        <div class="buttons-container">
            <button class="button-small">
                <img src="assets/icons/heart.svg" alt="heart-icon" />
            </button>
            <button class="button-small">
                <img src="assets/icons/share.svg" alt="share-icon" />
            </button>
            <button class="button-book" (click)="scrollToRoomsHeader()">
                Book now
            </button>
        </div>
    </div>
</div>
<!-- Hotel Details -->
<!-- Hotel Photos -->
<div class="hotel-photo-container">
    <img alt="" class="big-image" [src]="hotel?.photos[0]" />
    <div class="small-images">
        <img alt="" class="img" [src]="hotel?.photos[1]" />
        <img alt="" class="img-top-right" [src]="hotel?.photos[2]" />
        <img alt="" class="img" [src]="hotel?.photos[3]" />
        <img alt="" class="img-top-left" [src]="hotel?.photos[4]" />
    </div>
</div>
<!-- Hotel Photos -->
<!-- Hotel Overview -->
<div class="hotel-overview">
    <div class="overview-frame">
        <h3 class="overview-title">Overview</h3>
        <p class="overview-description">
            {{ hotel.overview }}
        </p>
    </div>
    <div class="rating-container">
        <div class="rating-box">
            <p class="rating-score">{{ hotel.rating }}</p>
            <div class="rating-info">
                <span class="rating-text">
                    <strong>Very good</strong>
                </span>
                <p class="rating-count">371 reviews</p>
            </div>
        </div>
        <div *ngFor="let category of categories" class="rating-category">
            <div class="stars">
                <img src="assets/icons/Stars.svg" alt="stars" />
            </div>
            <p>{{ category }}</p>
        </div>
    </div>
</div>
<!-- Hotel Overview -->
<hr />
<div class="avaiable-rooms-container">
    <div class="rooms-header" #roomsHeader>
        <h3>Avaiable Rooms</h3>
    </div>
    <div *ngFor="let room of hotel.rooms" class="rooms-details-container">
        <div class="rooms-name">
            <img [src]="hotel.photos[0]" alt="" />
            <span>{{ room.name }}</span>
        </div>
        <div class="rooms-price">
            <span>{{ room.price | currency }} </span>/night
            <button (click)="bookRoom(room)">Book now</button>
        </div>
    </div>
</div>
<hr />
<!-- Hotel Overview -->
<!-- Hotel Amenities -->
<div class="amenities-container">
    <h3>Amenities</h3>
    <div *ngFor="let amenities of hotel.amenities" class="amenities">
        {{ amenities }}
    </div>
</div>
<!-- Hotel Amenities -->
<app-newsletter style="position: relative; top: +240px;"></app-newsletter>
<app-footer></app-footer>