<footer>
    <div class="company-info">
      <h2>Kagan Booking</h2>
      <div class="icon-container">
        <img src="assets/icons/facebook.svg" alt="facebook" />
        <img src="assets/icons/youtube.svg" alt="youtube" />
        <img src="assets/icons/twitter.svg" alt="twitter" />
        <img src="assets/icons/instagram.svg" alt="instagram" />
      </div>
    </div>
    <div class="footer-section" *ngFor="let section of sections">
      <h2>{{ section.title }}</h2>
      <ul>
        <li *ngFor="let item of section.items">{{ item }}</li>
      </ul>
    </div>
  </footer>