.testimonials-container {
  padding: 20px;
  margin-top: 40px;
}
.testimonials-container h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.photo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.left-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 250px;
}
.left-container-span {
  display: flex;
  width: 300px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photo-right-top {
  width: 300px;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: -15px -15px 11px rgba(141, 211, 187, 1);
}
.photo-right-top-span {
  width: 300px;
  margin-top: 35px;
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}
.photo-right-bottom-span {
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  width: 100%;
}
.photo-right-2 {
  display: flex;
  flex-direction: column;
  width: 48%;
  align-items: flex-start;
}
.photo-right-2 p {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
}
.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-content p {
  padding-top: 15px;
}
.photo-right-1 {
  display: flex;
  align-items: center;
}
.photo-right-bottom {
  width: 135%;
  height: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  object-fit: cover;
  box-shadow: 15px 15px 11px rgba(141, 211, 187, 1);
}
.photo-left-1 {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 15px -15px 11px rgba(141, 211, 187, 1);
}
.bottom-span-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}
@media only screen and (max-width: 1199.98px) {
  .photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .left-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .photo-right-1 {
    flex-direction: column;
  }
  .photo-right-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .bottom-span-container {
    width: 55%;
  }
  .photo-right-bottom {
    width: 50%;
  }
}
