<app-navbar class="active"></app-navbar>
<div class="payment-container">
    <div class="payment-info-container">
        <!-- Room information section -->
        <div class="room-info">
            <div class="room-details">
                <h2 class="room-name">{{ room?.name }}</h2>
                <p class="room-description">{{ room?.description }}</p>
            </div>
            <div class="room-price">
                <p class="price-per-night">{{ room?.price | currency }}/night</p>
            </div>
        </div>

        <!-- Hotel information section -->
        <div class="hotel-info">
            <div class="hotel-name">{{ hotel?.name }}</div>
            <div class="hotel-address">
                <img src="/assets/icons/location.svg" alt="" />
                <span>
                    {{ hotel?.address?.streetAddress }},{{ hotel?.address?.city }},{{
                    hotel?.address?.country
                    }}</span>
            </div>
        </div>

        <!-- Check-in and check-out section -->
        <div class="check-in-out">
            <div class="check-in">
                <p class="check-in-label">Check-in</p>
                <span class="check-in-date">{{ checkInDate }}</span>
            </div>
            <div class="hotel-photo">
                <img class="photo" src="/assets/icons/hotel.svg" alt="" />
            </div>
            <div class="check-out">
                <p class="check-out-label">Check-out</p>
                <span class="check-out-date">{{ checkOutDate }}</span>
            </div>
        </div>

        <ng-container *ngIf="loggedInUser$ | async as loggedInUser; else notLoggedIn">
            <div class="credit-card">
                <div class="credit-card__logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/800px-Visa_Inc._logo.svg.png?20170118154621"
                        alt="" />
                </div>
                <div class="credit-card__number">
                    <span> **** **** **** ****</span>
                </div>
                <div class="credit-card__info">
                    <div class="credit-card__name">
                        {{ firstName }} {{ lastName }}
                    </div>
                    <div class="credit-card__expiry">04/24</div>
                </div>
            </div>
        </ng-container>

        <ng-template #notLoggedIn>
            <div class="login-signup-container">
                <span class="login-signup-text">Login or Sign up</span>
                <button class="login-button" routerLink="/login">Login</button>
                <button class="signup-button" routerLink="/sign-up">Sign up</button>
            </div>
        </ng-template>
    </div>
    <div class="card-container">
        <div class="card-hotel-card">
            <div class="card-hotel-image-info">
                <img [src]="hotel!.photos[0]" alt="hotel-image" class="card-hotel-image" />
                <div class="card-hotel-info">
                    <p class="card-hotel-name">{{ hotel?.name }}</p>
                    <p class="card-hotel-room-name">{{ room?.name }}</p>
                    <section class="card-hotel-rating">
                        <span class="rating-score">{{ hotel?.rating }}</span>
                        <span class="rating-text"><strong>Very good</strong> 54 reviews</span>
                    </section>
                </div>
            </div>

            <div class="price-details">
                <h4>Price Details</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Base Fare</td>
                            <td>{{ room?.price | currency }}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>{{ discount | currency }}</td>
                        </tr>
                        <tr>
                            <td>Taxes</td>
                            <td>{{ tax | currency }}</td>
                        </tr>
                        <tr>
                            <td>Service Fee</td>
                            <td>{{ serviceFee | currency }}</td>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <td>{{ totalPrice | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-container *ngIf="loggedInUser$ | async as loggedInUser; else notLoggedInPay">
                <div class="pay-button-container">
                    <button #payButton (click)="onCheckout()">Pay Now</button>
                </div>
            </ng-container>

            <ng-template #notLoggedInPay> </ng-template>
        </div>
    </div>
</div>
<app-footer></app-footer>