.content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 58px;
}

.content-container > p {
  width: 50%;
  padding-top: 20px;
}

.content-card-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

@media only screen and (max-width: 575.98px) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .content-container > p {
    width: 100%;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .content-container > p {
    width: 100%;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1399px) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}
