.content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 58px;
}

.content-container > p {
  width: 50%;
  padding-top: 20px;
}

.content-card-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
